.btn-green {
  color: white;
  background-color: #00CD66;
  font-weight: bold;
  border-radius: 4px;
  padding: 16px;
}
.btn-green:hover {
  background-color: white;
  color: #00CD66;
  transition: 0.5s;
}
